html,
body {
	height: 100%;
	background-color: #222;
}

@mixin grey-filter($amount) {
	filter: #{'grayscale('}$amount#{')'};
	-webkit-filter: #{'grayscale('}$amount#{')'};	
}

.strong {
	font-weight: bold;
}
.emphasis {
	font-style: italic;
}

#container, body {
	overflow: hidden;
}

#container, #ui {
	display: none;
}

#ui, #ui_mask {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	/*background: black; /*remove*/
}
#ui_mask {
	z-index: 12;
	background: black;
	opacity: 0.6;
	visibility: hidden;
}