.dataField-main_control {
	.dataField-button {
		width: 100%;
	}
	.dataField-slider .range-slider {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
.dataViewList {
	.dataField-button {
		@include button(rem-calc(6));
		margin: 0;
		font-size: rem-calc(12);
		border-bottom: 1px solid #000;
	}
}