.dataField-mutationMenu {
	height: 600px;
	
	.menu {
		.accept {
			width: 100px;
		}
		.cancel, .clear {
			background-color: $secondary-color;
			&:hover {
				background-color: darken( $secondary-color, 10% );
			}
		}
	}
	.menu_board {
		
	}

	#tb_board {
		float: left;
		background-color: #151515;
		width: 30%;
		height: 334px;
		display: table;
		
		> div {
			display: table-cell;
			vertical-align: middle;
		}
		
		.grid {
			background-image: url('../ui/grid.gif');
			margin: 0 auto;
			position: relative;
			overflow: hidden;
		}
	}
	#tb_toolbox {
		@include block-grid(4);
		width: 70%;
		float: left;
		margin: 0;

		.geneBlock.active {
			padding: 10px;
			background-color: #151515;
			border: 1px solid #222;
			border-width: 0 0 1px 1px;
			display: table;
			position: static;
			p.image {
				display: table-row;
				text-align: center;
				vertical-align: middle;
				img {
					margin: 10px;
				}
			}

			p.name{
				color: white;
				margin: 0;
				font-size: small;
				text-align: center;
				display: table-row;
				height: 1px;
			}
		}
		.geneBlock > img {
			float: left;
		}

		.geneBlock.used {
			opacity: 0.3;
		}
	}

	.grid .placed {
		position: absolute;
		z-index: 29;
	}
	.grid .grid_overlay {
		z-index: 28;
		background: #99ffff;
		position: absolute;
		opacity: 0.4;
	}

	.dragging {
		position: absolute;
		z-index: 30;
		opacity: 0.3;
		list-style-type: none;
	}
	.dragging.valid {
		opacity: 0.8;
	}
}