.top_bar {
	position: absolute;
	top: 0;
	left: 0;
	height: $titlebar-height;
	width: 100%;
	z-index: 13;
	background: #eee;
	border-bottom: 1px solid white;
	color: #000;

	h1 {
		font-size: 24px;
		float: left;
		margin-left: 1rem;
		color: #666;
	}
	label {
		color: #333;
		display: block;
		float: right;
		margin-right: 1.5rem;
		text-align: right;
		
		label {
			font-size: 12px;
		}
		&.dataField-money {
			font-weight: bold;
		}
	}
}